SECRET_KEY=
JWT_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER=
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3001